$darkColor1: #00618c;
$darkColor2: #04222b;
$lightColor1: #00aabb;
$lightColor2: #00b2be;
$usedgray1:#202020;
$usedgray2:#e0e0e0;
$usedgray3:#a0a0a0;

* {    
    margin: 0 ;
    padding: 0 ;
    .home{
        
        .topBar{
            background-color: rgb(22 22 23/80%);
            backdrop-filter: blur(20px);
            position: sticky;
            top: 0;
            z-index: 100;
            img{
            margin: auto;
            max-height: 75px;
            }
            background-color: black ;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr ;
            height: 100px;
            .selectors{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                button{
                    margin: auto;
                    margin-left: 5px;
                    margin-right: 5px;
                    height: 50px;
                    width: 100px;
                    border-radius: 20%;
                    background-color: black;
                    color: $lightColor1;
                    border-color: $lightColor1;
                }
                button:hover{
                    background-color: $usedgray1;
                    
                }
            }
            .logout{
                margin: auto;
                display: grid;
                grid-template-columns: 1fr 1fr;
                h4{
                    margin: auto;
                    color: $lightColor1;
                }
                button{
                    height: 50px;
                    width: 100px;
                    border-radius: 20%;
                    background-color:$lightColor1 ;
                    color: black;
                    border-color: $lightColor1;
                }
                button:hover{
                    background-color: $lightColor2 ;
                    
                }

                
            }
        }
        .page{
            background-color: $usedgray1;

            padding: 20px;

            .Parties{
                display: grid;
                grid-template-columns: 1fr 2fr ;
                min-height: 800px;
                .left{
                    background-color: $lightColor2;
                    min-height: 800px;
                    margin-right: 20px;
                    border-radius: 20px;
                    h2{
                        text-align: center;
                        padding-top: 20px;
                    }
                }
                .right{
                    background-color: $lightColor2;
                    min-height: 800px;
                    height: fit-content;
                    border-radius: 20px;
                    padding: 5px;
                    .map{
                        height: 400px;
                        width: 90%;
                        padding: 5%;
                        
                    }
                    table {
                        width: 100%;
                        
                    }
                    
                    thead, tbody, tr {
                        display: table;
                        width: 100%;
                        table-layout: fixed;
                        text-align: center;
                        color: $usedgray2;
                    }
                    tr:hover{
                        background-color: $darkColor1;
                    }

                    .header:hover{
                        background-color: $lightColor2;
                        border-radius: 10px;
                    }
                    tbody {
                        display: block;
                        overflow: auto;
                        table-layout: fixed;
                        max-height: 575px;
                    }
                    tbody::-webkit-scrollbar {
                        width: 10px;
                    }
                    
                    tbody::-webkit-scrollbar-thumb {
                        background-color: $usedgray2;    /* color of the scroll thumb */
                        border-radius: 20px;       /* roundness of the scroll thumb */
                    }
                   .rows{ 
                        .FullParty{
                            padding: 10px;
                            border-radius: 10px;
                            .line{
                                border-radius: 10px;
                                
                            }
                            .slideDown{

                                .partyInfo{
                                    padding-top: 10px;
                                    display: grid;
                                    grid-template-columns: 1fr 1fr 1fr;
                                    height: fit-content;
                                    p{
                                        margin: auto;
                                    }
                                    button{
                                        margin: auto;
                                    }
                                    background-color: $darkColor1;
                                }
                                .partyChat{
                                    border:5px solid black;
                                    
                                    .fullChat{
                                        padding:5px;
                                        background-color: $usedgray1;
                                        
                                        
                                        .messageHolder{
                                            overflow: auto;
                                            max-height: 300px;
                                            .mychat{
                                                max-width: 70%;
                                                background-color: $lightColor1;
                                                text-align: right;
                                                width: fit-content;
                                                margin-right: 10px;
                                                margin-left: auto;
                                                margin-top: 10px;
                                                margin-bottom: 10px;
                                                padding: 5px;
                                                border-radius: 10px 10px 0px 10px;
                                            }
                                            .theychat{
                                                background-color: $usedgray3;
                                                text-align: left;
                                                max-width: 70%;
                                                width: fit-content;
                                                margin-right: auto;
                                                margin-left: 10px;
                                                margin-top: 10px;
                                               
                                                padding: 5px;
                                                border-radius: 10px 10px 10px 0px;
                                            }
                                            .sentMarker{
                                                
                                                text-align: left;
                                                max-width: 70%;
                                                width: fit-content;
                                                margin-right: auto;
                                                margin-left: 10px;
                                                
                                                margin-bottom: 10px;
                                                padding: 5px;
                                                border-radius: 10px 10px 10px 0px;
                                            }
                                        }
                                        .chatInput{
                                            
                                            align-items: center;
                                            input {
                                                min-height: 50px;
                                                max-width: 150px;
                                                padding: 0 1rem;
                                                color: $usedgray2;
                                                font-size: 15px;
                                                border: 1px solid $lightColor1;
                                                border-radius: 6px 0 0 6px;
                                                background-color: transparent;
                                            }
                                            button {
                                                min-height: 50px;
                                                padding: .5em 1em;
                                                border: none;
                                                border-radius: 0 6px 6px 0;
                                                background-color: $lightColor1;
                                                color: $usedgray2;
                                                font-size: 15px;
                                                cursor: pointer;
                                                transition: background-color .3s ease-in-out;
                                            }
                                            button:hover {
                                                background-color: $darkColor1;
                                            }
                                            input:focus, input:focus-visible {
                                                border-color: $darkColor1;
                                                outline: none;
                                            }
                                            
                                        }
                                    }
                                    ::-webkit-scrollbar {
                                        width: 10px;
                                    }
                                    
                                    ::-webkit-scrollbar-thumb {
                                        background-color: $usedgray2;    /* color of the scroll thumb */
                                        border-radius: 20px;       /* roundness of the scroll thumb */
                                    }
                                }
                                
                            }
                        }
                   }
                }
            }

            .create{
                
                .Form{
                    margin-left: auto;
                    margin-right: auto;
                    background-color: $lightColor2;
                    text-align: center;
                    align-items: center;
                    width: 50%;
                    border-radius: 20px;
                    padding: 15px;
                    
                    select{
                        display: block;
                        font-size:20px;
                        padding:4px 2px;
                        border:solid 1px #aacfe4;
                        width:300px;
                        margin:2px 0 20px 10px;
                        margin-right: auto;
                        margin-left: auto;
                    }
                    label{
                        font-size: 30px;
                    }
                    input{
                        display: block;
                        font-size:20px;
                        padding:4px 2px;
                        border:solid 1px #aacfe4;
                        width:300px;
                        margin:2px 0 20px 10px;
                        margin-right: auto;
                        margin-left: auto;
                    }
                    textarea{
                        display: block;
                        font-size:20px;
                        padding:4px 2px;
                        border:solid 1px #aacfe4;
                        width:300px;
                        margin:2px 0 20px 10px;
                        margin-right: auto;
                        margin-left: auto;
                    }
                    button{
                        margin-top: 20px;
                        height: 30px;
                        width: 200px;
                    }
                }
            }

            .Friends{
                display: grid;
                grid-template-columns: 1fr 1fr ;
                min-height: 800px;
                .left{
                    background-color: $lightColor2;
                    min-height: 800px;
                    margin-right: 20px;
                    border-radius: 20px;
                    h1{
                        text-align: center;
                    }
                    .requests{
                        .request{
                        display: grid;
                        grid-template-columns: 1fr 1fr 1fr 1fr;
                        height: 100px;
                            img{
                                padding:10%;
                                max-width: 80%;
                                max-height: 80%;
                            }
                            p{
                                margin: auto;
                            }
                            button{
                                height: 50%;
                            }
                        }
                    }
                    .people{
                        .person{
                            display: grid;
                            grid-template-columns: 1fr 2fr;
                            height: 100px;
                            img{
                                object-fit: cover;
                                width: 80px;
                                height: 80px;
                                margin: auto;
                                max-width: 80%;
                                max-height: 80%;
                                border-radius: 50%;
                            }
                            p{

                            }
                        }
                    }
                    
                }
                .right{
                    background-color: $lightColor2;
                    height: 800px;
                    border-radius: 20px;
                    .add{
                        img{
                            object-fit: cover;
                                width: 80px;
                                height: 80px;
                                margin: auto;
                                max-width: 80%;
                                max-height: 80%;
                                border-radius: 50%;
                        }
                    }
                    h1{
                        text-align: center;
                    }

                }
            } 
        }
        .information{
            background-color: green;
            
            height: 100px;
        }
    }
}









.formContainer{
    background-color: #a7bcff;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .formWrapper{
        background-color: white;
        padding: 20px 60px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;

        .logo{
            color: #5d5d8d;
            font-weight: bold;
            font-size: 24px;
            
        }
        .title{
            color: #5d5d8d;
            
            font-size: 12px;
        }
        form{
            display: flex;
            flex-direction: column;
            gap: 15px;

            input{
                padding: 15px;
                width: 250px;
                border: none;
                border-bottom: 1px solid #a7bcff;
            &::placeholder{
                color: gray;
            }
            }

            button{
                background-color: #7b96ec;
                color: white;
                padding: 10px;
                font-weight: bold;
                border: none;
                cursor: pointer;
            }
            
            label{
                display: flex;
                align-items: center;
                gap: 10px;
                color:#8da4f1;
                font-size: 12px;
                cursor: pointer;
                img{
                    width : 32px;
                }
            }
        }
        p{
            color : #5d5d8d;
            font-size: 12px;
            margin-top: 10px;
        }
    }
}

