$darkColor1: #00618c;
$darkColor2: #04222b;
$lightColor1: #00aabb;
$lightColor2: #00b2be;
$usedgray:#202020;


* {    
    margin: 0 ;
    padding: 0 ;
    .home{
        
        .topBar{
            img{
            margin: auto;
            max-height: 75px;
            }
            background-color: black ;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr ;
            height: 100px;
            .selectors{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                button{
                    margin: auto;
                    margin-left: 5px;
                    margin-right: 5px;
                    height: 50px;
                    width: 100px;
                    border-radius: 20%;
                    background-color: black;
                    color: $lightColor1;
                    border-color: $lightColor1;
                }
                button:hover{
                    background-color: $usedgray;
                    
                }
            }
        }
        .page{
            background-color: $usedgray;

            padding: 20px;

            .Parties{
                display: grid;
                grid-template-columns: 1fr 2fr ;
                min-height: 800px;
                .left{
                    background-color: $lightColor2;
                   height: 800px;
                    margin-right: 20px;
                    border-radius: 20px;
                    h2{
                        text-align: center;
                        padding-top: 20px;
                    }
                }
                .right{
                    background-color: $lightColor2;
                    height: 800px;
                    border-radius: 20px;
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    overflow: hidden;
                    overflow-y:scroll;
                    .party{
                        height: 400px;
                        margin: auto;
                        margin-top: 10px;
                        margin-bottom: 10px;
                        border-radius: 20px;
                        width: 80%;
                        padding: 10px;
                        background-color: $darkColor1;
                    }
                }
                .right::-webkit-scrollbar{
                    display: none;
                }
            }

            .create{
                
                .Form{
                    margin-left: auto;
                    margin-right: auto;
                    background-color: $lightColor2;
                    text-align: center;
                    align-items: center;
                    width: 50%;
                    border-radius: 20px;
                    padding: 15px;
                    
                    select{
                        display: block;
                        font-size:20px;
                        padding:4px 2px;
                        border:solid 1px #aacfe4;
                        width:300px;
                        margin:2px 0 20px 10px;
                        margin-right: auto;
                        margin-left: auto;
                    }
                    label{
                        font-size: 30px;
                    }
                    input{
                        display: block;
                        font-size:20px;
                        padding:4px 2px;
                        border:solid 1px #aacfe4;
                        width:300px;
                        margin:2px 0 20px 10px;
                        margin-right: auto;
                        margin-left: auto;
                    }
                    textarea{
                        display: block;
                        font-size:20px;
                        padding:4px 2px;
                        border:solid 1px #aacfe4;
                        width:300px;
                        margin:2px 0 20px 10px;
                        margin-right: auto;
                        margin-left: auto;
                    }
                    button{
                        margin-top: 20px;
                        height: 30px;
                        width: 200px;
                    }
                }
            } 
        }
        .information{
            background-color: green;
            
            height: 100px;
        }
    }
}









.formContainer{
    background-color: #a7bcff;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .formWrapper{
        background-color: white;
        padding: 20px 60px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;

        .logo{
            color: #5d5d8d;
            font-weight: bold;
            font-size: 24px;
            
        }
        .title{
            color: #5d5d8d;
            
            font-size: 12px;
        }
        form{
            display: flex;
            flex-direction: column;
            gap: 15px;

            input{
                padding: 15px;
                width: 250px;
                border: none;
                border-bottom: 1px solid #a7bcff;
            &::placeholder{
                color: gray;
            }
            }

            button{
                background-color: #7b96ec;
                color: white;
                padding: 10px;
                font-weight: bold;
                border: none;
                cursor: pointer;
            }
            
            label{
                display: flex;
                align-items: center;
                gap: 10px;
                color:#8da4f1;
                font-size: 12px;
                cursor: pointer;
                img{
                    width : 32px;
                }
            }
        }
        p{
            color : #5d5d8d;
            font-size: 12px;
            margin-top: 10px;
        }
    }
}

